/* Resentando estilos */

body, p, h1, h2, h3, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

/* Header */

.header-bg{
  color: aliceblue;
  font-size: 1.125em;
}

.header-bg{
  background: url('./img/woman_working.jpg');
  background-size: cover;
  padding: 50px 0px 300px 0px;
}

.header-container{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
} 

.header-container h1{
  font-size: 2.5em;
}
.header-container a{
  color: aliceblue;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 9.375em;
  align-items: baseline;
}


.header-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.header-nav a{
  font-size: 1.125em;
  display: inline;
  padding: 20px;
  transition: 0.1s;
}

.header-nav a:hover{
  border: 2px solid aliceblue;
}

.header-info{
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
}

.header-info h2{
  padding-bottom: 30px;
  font-size: 2em;
  font-style: bold;
}

.header-info button{
  margin-top: 30px;
  width: 6.25em;
  height: 2.25em;
  background: aliceblue;
  color: #222222;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: 0.1s;
}

.header-info button:hover{
  background: transparent;
  border: 2px solid aliceblue;
  color: aliceblue;
  cursor: pointer;
}

/* main */

.intro{
  background: aliceblue;
  padding: 200px 0px;
  text-align: center;
}

.intro h1{
  font-size: 2.5em;
  font-style: italic;
  font-weight: normal;
  word-wrap: normal;
}

.intro h1{
  box-shadow: 15px 0 0 0 #F28B30, -5px 0 0 0 #F28B30;
	background: #F28B30;
	display: inline-block;
	padding: 3px 0;
}

.intro p{
  padding-top: 10px;
  font-size: 1.25em;
}

/* Locais */

.locais-bg{
  background: #167358;
  padding: 150px 0px;
}

.locais-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0px 100px 0px 100px;
  color: aliceblue;
}


.locais-info{
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 30px;
}


.locais-info h1{
  font-size: 2.5em;
  font-weight: bold;
}

.locais-info h1{
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F28B30;
  font-size: 2.5em;
  font-weight: bold;
}

.locais-info-text p{
  padding: 20px 20px 0px 20px;
  font-size: 1.125em;
}

.locais-info-text button{
  margin: 30px 0px 0px 20px;
  width: 6.25em;
  height: 2.25em;
  background: #F28B30;
  color: aliceblue;
  border: none;
  font-size: 1em;
  font-weight: bold;
  transition: 0.1s;
}

.locais-info-text button:hover{
  background: transparent;
  border: 2px solid aliceblue;
  color: aliceblue;
  cursor: pointer;
}

/*  Locais imagens*/

.locais-galeria {
  display: grid;
  grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer";
  gap: 10px;
}

.locais-galeria h4{
  background: #F28B30;
  color: #222222;
  display: inline-block;
  padding: 3px 3px 3px 5px;
}

.locais-item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #F28B30;
  border-radius: 2px;
}

/* item logo */

.logo {
  background-image: url('./img/agua.jpg');
  grid-area: logo;
}

.nav {
  background-image: url('./img/escada.jpg');
  grid-area: nav;
}

.content {
  background-image: url('./img/mar.jpg');
  grid-area: content;
}

.sidenav {
  background-image: url('./img/japao.jpg');
  grid-area: sidenav;
}

.advert {
  background-image: url('./img/parede.jpg');
  grid-area: advert;
}

.footer {
  background-image: url('./img/plantas.jpg');
  grid-area: footer;
}


/* Media */

.midia-bg {
  background: aliceblue;
}

.midia-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.midia-container {
  grid-template-areas:
    "denuncia denuncia saiba-mais" 100px
    "depoimentos importacia conhecendo" 100px
    "piscologia canal conhecendo" 100px;
}


/* midia itens */

/* denuncia */
.denuncia {
  grid-area: denuncia;
  background: #FFFFFF;
}

.denuncia{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.denuncia-text{
  align-self: center;
  padding-left: 30px;
}

.denuncia-text h3{
  color: #818398;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-bottom: 13px;
}

.denuncia-text h2{
  color: #222222;
  font-size: 22px;
  padding-bottom: 16px;
}

.denuncia-text p{
  color: #9396AD;
  font-size: 0.78em;
}

.denuncia-galeria{
  padding-right: 15px;
}


.saiba-mais {
  grid-area: saiba-mais;
  background: #F7F8F9;
}

.depoimentos {
  grid-area: depoimentos;
  background: #EF5637;
}

.importacia {
  grid-area: importacia;
  background: #FFFFFF;
}

.conhecendo {
  grid-area: conhecendo;
  background: #8F77BC;
}

.piscologia {
  grid-area: piscologia;
  background: #F7F8F9;
}

.canal {
  grid-area: canal;
  background: #93B6B7;
}


/* footer */

.footer-bg{
  height: 100px;
  background: #167358;
  padding: 40px 20px;
}